<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="user" type="project.entity.User" />
        <typeAlias alias="role" type="project.entity.Role" />
    </typeAliases>

    <mappers>
        <mapper resource="mappers/Role.xml"/>
        <mapper resource="mappers/User.xml"/>
    </mappers>

</configuration>