<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"

    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="dataSource"
        class="org.apache.commons.dbcp2.BasicDataSource"
        destroy-method="close">
        <property name="driverClassName"
            value="org.apache.derby.jdbc.EmbeddedDriver" />
        <property name="url" value="jdbc:derby:.db;create=true" />
        <property name="username" value="" />
        <property name="password" value="" />
    </bean>

    <bean id="liquibase"
        class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="dataSource" />
        <property name="changeLog"
            value="classpath:db-changelog.xml" />
        <property name="contexts" value="test, production" />
    </bean>

    <bean id="txManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="*" rollback-for="Throwable"
                isolation="READ_COMMITTED" propagation="REQUIRED" />
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="txOperation"
            expression="execution(* project.services..*ServiceImpl.*(..))" />
        <aop:advisor advice-ref="txAdvice"
            pointcut-ref="txOperation" />
    </aop:config>

    <bean id="dao" abstract="true"
        class="org.springframework.jdbc.core.support.JdbcDaoSupport">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="userDao" class="project.dao.jdbc.UserJdbcDao"
        parent="dao">
    </bean>

    <bean id="userService" class="project.services.UserServiceImpl">
        <property name="userDao" ref="userDao" />
        <property name="roleService" ref="roleService" />
    </bean>

    <bean id="roleDao" class="project.dao.jdbc.RoleJdbcDao"
        parent="dao" />

    <bean id="roleService" class="project.services.RoleServiceImpl">
        <property name="roleDao" ref="roleDao" />
    </bean>

</beans>
